.gallery {
  padding: 4rem 1rem;
  background: #fff;
  text-align: center;
}

.heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff; /* Texto blanco */
  background-color: #1c2a52; /* Fondo azul oscuro */
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px; /* Rounded full */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del contenedor */
  text-shadow: 2px 2px 0 #ff6b6b,
    /* Sombra sólida rosa */ 4px 4px 6px rgba(0, 0, 0, 0.5); /* Sombra difusa negra */
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.image {
  object-fit: cover;
  border-radius: 1rem;
}
